html, body {
    height: 100%;
}

.my-p {
    text-align: left; /* Alinha o parágrafo ao centro */
    padding-top: 20px;
    margin-left: 80px; /* Define a margem esquerda como automática */
    margin-right: 80px; /* Define a margem direita como automática */
    font-size: 18px; /* Define o tamanho da fonte como 15px */
}
